<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
          <ion-item class="item-light item-text-wrap item-avatar item-borderless item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" style="overflow:hidden;">
            <img ng-src="{{chat.face}}">
            <h2 class="capitalize font-120">{{chat.name}}</h2>
            <p class="capitalize color-gray">{{chat.lastText}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" ng-click="remove(chat)">
              Delete
            </ion-option-button>
          </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
